<!-- <div>
    <h2>Sales Report</h2>
    <p><strong>Total Revenue for the Day:</strong> {{ totalRevenue | currency }}</p>

    <h3>Most Sold Products</h3>
    <ul>
        <li *ngFor="let product of mostSoldProducts">
            {{ product.productName }} - {{ product.price | currency }}
        </li>
    </ul>

    <h3>Products Sold</h3>
    <ul>
        <li *ngFor="let item of productsSold">
            {{ item.productName }}: {{ quantitiesSold[productsSold.indexOf(item)] }} units
        </li>
    </ul>
</div> -->
<div>
    <h2>Sales Items</h2>
    <ul>
        <li *ngFor="let item of salesItems">
            <strong>Product ID:</strong> {{ item.productID }},
            <strong>Sale ID:</strong> {{ item.saleID }},
            <strong>Quantity:</strong> {{ item.quantity }},
            <strong>Price:</strong> {{ item.price | currency }}
        </li>
    </ul>
</div>